# This helps configure rules_go CI to test the examples.
# It's not part of the examples themselves.
#
# This file is separate from the main .bazelrc because bzlmod is disabled
# there, but it is required to build the examples.

common --enable_platform_specific_config

# Go requires a C toolchain that accepts options and emits errors like
# gcc or clang. The Go SDK does not support MSVC.
build:windows --cpu=x64_windows
build:windows --compiler=mingw-gcc

# NOTE(bazelbuild/bazel#10529): bazel doesn't register the mingw toolchain automatically.
# We also need the host and target platforms to have the mingw constraint value.
build:windows --extra_toolchains=@local_config_cc//:cc-toolchain-x64_windows_mingw
build:windows --host_platform=@io_bazel_rules_go//go/toolchain:windows_amd64_cgo
build:windows --platforms=@io_bazel_rules_go//go/toolchain:windows_amd64_cgo
build:windows --incompatible_enable_cc_toolchain_resolution

common:ci --enable_bzlmod
common:ci --color=no
build:ci --verbose_failures
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone
test:ci --test_strategy=standalone
